VITE_SUPABASE_URL=https://lcpozpxumwzmqmwyabvd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjcG96cHh1bXd6bXFtd3lhYnZkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDE3MTkyODEsImV4cCI6MjA1NzI5NTI4MX0.gvtuM9_YJ7IevOH9Wcy4RaA0EvBiZXZF_oHmVCfSwUM